@model Item

<form method="post" asp-action="Del">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="nav-item">Do you want to delete the collection?</h2>
            <hr />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Item" asp-action="Index" asp-route-id="@GlobalCollection.CollectionId" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

